$conecta-blue-100: hsl(200, 20%, 97%);  /* #f6f8f9 */
$conecta-blue-200: hsl(198, 25%, 90%);  /* #DFE3EC */
$conecta-blue-300: hsl(198, 35%, 75%);  /* #A9B7D6 */
$conecta-blue-400: hsl(198, 45%, 60%);  /* #6B88C7 */
$conecta-blue:       hsl(198, 55%, 48%); /* #1E376C */
$conecta-blue-600:   hsl(198, 60%, 22%); /* #162C5A */
$conecta-blue-700:   hsl(198, 65%, 16%); /* #0E1F43 */
$conecta-blue-800:   hsl(198, 70%, 10%); /* #081329 */
$conecta-blue-900:   hsl(198, 75%, 5%);  /* #030916 */

$conecta-orange-100: hsl(25.2, 83%, 91%);   /* #FBE5D5 */
$conecta-orange-200: hsl(25.2, 92%, 79%);   /* #FBC298 */
$conecta-orange-300: hsl(35, 95%, 59%);   /* #FAA634 */
$conecta-orange-400: hsl(25.2, 95.2%, 59.2%); /* #FA8734 */
$conecta-orange:     hsl(25.2, 90.6%, 54.1%); /* #F47920 */
$conecta-orange-600: hsl(25.2, 76.9%, 45.9%); /* #CF671B */
$conecta-orange-700: hsl(25.2, 76.7%, 35.3%); /* #9F4F15 */
$conecta-orange-800: hsl(25.2, 77.4%, 24.3%); /* #6E360E */
$conecta-orange-900: hsl(25.2, 76.8%, 13.5%); /* #3D1E08 */

$conecta-gray: #939598;
$danger-light: #f44336;
$info-dark: #0097a7;

$primary: $conecta-blue;
$min-contrast-ratio: 2.7; //accessibility concerns? defaults to 4.5

$headings-font-family: "MuseoSans", sans-serif;

@import "./bootstrap-color-initialization.scss";
$theme-colors: (
  "primary-100": $conecta-blue-100,
  "primary-200": $conecta-blue-200,
  "primary-300": $conecta-blue-300,
  "primary-400": $conecta-blue-400,
  "primary": $primary,
  "primary-600": $conecta-blue-600,
  "primary-700": $conecta-blue-700,
  "primary-800": $conecta-blue-800,
  "primary-900": $conecta-blue-900,
  "bold-100": $conecta-orange-100,
  "bold-200": $conecta-orange-200,
  "bold-300": $conecta-orange-300,
  "bold-400": $conecta-orange-400,
  "bold": $conecta-orange,
  "bold-600": $conecta-orange-600,
  "bold-700": $conecta-orange-700,
  "bold-800": $conecta-orange-800,
  "bold-900": $conecta-orange-900,
  "conecta-gray": $conecta-gray,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "danger-light":$danger-light,
  "info-dark":$info-dark,
) !default;

@import "bootstrap/scss/bootstrap.scss";

.bg-light-gray {
  background-color: $gray-200;
}

@include color-mode(dark) {
  .bg-light-gray {
    background-color: $gray-800;
  }
}

.bg-tabs {
  background-color: $white;
}
.bg-accent {
  background-color: $light;
}
@include color-mode(dark) {
  .bg-accent {
    background-color: $secondary;
  }
}
@include color-mode(dark) {
  .bg-tabs {
    background-color: $dark;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/customIcons.eot?khipsj");
  src: url("fonts/customIcons.eot?khipsj#iefix") format("embedded-opentype"),
    url("fonts/customIcons.ttf?khipsj") format("truetype"),
    url("fonts/customIcons.woff?khipsj") format("woff"),
    url("fonts/customIcons.svg?khipsj#icomoon") format("svg");
}

.icon::before,
[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block;
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instructure_lg:before {
  content: "\e900";
}

.hoverable-card-header {
  transition: background-color 0.3s;
  background-color: $primary;
}

.hoverable-card-header:hover {
  background-color: rgb(11, 69, 117);
}

.nav-flex {
  height: 100%;
  width: 100%;
  position: fixed;
}

.text-shadow {
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.conecta-gradient {
  transition: background 0.3s ease-in-out;
  background: linear-gradient(45deg, $primary, $primary 60%, $conecta-orange 95%);
}

.conecta-gradient:hover {
  background: linear-gradient(45deg, darken($primary, 5%), darken($primary, 5%) 60%, lighten($conecta-orange, 5%) 95%);
}

@media print {
  .print-black,
  .print-black * {
    color: black !important;
  }

  .border-white {
    border-color: black !important;
  }
}

@include color-mode(dark) {
  .text-primary {
    color: #0077C8!important;
  }
}